<div class="flex flex-col p-4 gap-3">
  @if (isOwner()) {
    <div class="flex justify-end">
      <button (click)="toggleAddForm()"
              class="px-4 py-1 rounded-full text-sm transition-all duration-200 hover:scale-105 shadow-md
                     {{ showAddForm() ? 'bg-gray-200 text-gray-700' : 'bg-gradient-to-tr from-green-700 to-teal-900 text-white' }}">
        {{ showAddForm() ? 'Annuler' : 'Inviter un utilisateur' }}
      </button>
    </div>
    @if (showAddForm()) {
      <app-user-search-input
        [errorMessage]="errorMessage()"
        (submitted)="onUserSubmitted($event)"/>
    }
  }
  <app-home-member-list
    [users]="users()"
    [isOwner]="isOwner()"
    (userRemoved)="onUserRemoved($event)"/>
</div>
