<div class="mx-2 my-3 grid gap-3 md:grid-cols-2">
  @for (group of groupedStock(); track group.category) {
    <div class="border rounded-lg overflow-hidden bg-white shadow-sm">
      <div class="bg-green-600 text-white px-3 py-2">
        <h2 class="text-sm font-bold capitalize tracking-wide">
          {{ group.category }}
        </h2>
      </div>
      <div>
        @for (s of group.items; track s.id) {
          <div class="flex items-center justify-between gap-2 px-2 py-2 text-sm">
            <input [formField]="productStockForm.name" placeholder="{{ s.nameProduct }}"
              class="text-gray-800"/>
            <div class="text-xs bg-green-100 text-green-700 px-2 py-1 rounded-md">
              {{ s.quantity }} {{ s.unityProduct }}
            </div>
            <input type="number" [formField]="productStockForm.quantity"
              class="border rounded px-1 py-1 text-center text-xs">
            <button class="bg-red-500 hover:bg-red-600 text-white text-xs px-2 py-1 rounded transition">
              Retirer
            </button>
          </div>
        }
      </div>
    </div>
  }
</div>
